services:
    umanit_twig_image.extension:
        class: Umanit\TwigImage\Extension
        public: false
        tags: ['twig.extension']

    umanit_twig_image.runtime:
        class: Umanit\TwigImage\Runtime
        public: false
        arguments:
            - '@cache.app'
            - '@liip_imagine.cache.manager'
            - '@liip_imagine.filter.manager'
            - '@liip_imagine.data.manager'
            - '@liip_imagine'
            - '%umanit_twig_image.use_liip_default_image%'
            - '%liip_imagine.default_image%'
        tags: ['twig.runtime']
